[submodule "dep/pegtl"]
	path = dep/pegtl
	url = https://github.com/ColinH/PEGTL
[submodule "dep/cxxopts"]
	path = dep/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "dep/better-enums"]
	path = dep/better-enums
	url = https://github.com/aantron/better-enums.git
[submodule "dep\\x86_inter"]
	path = dep\\x86_inter
	url = https://github.com/hGriff0n/x86-Interpreter
[submodule "dep/_x86_inter"]
	path = dep/_x86_inter
	url = https://github.com/hGriff0n/x86-Interpreter
[submodule "dep/spdlog"]
	path = dep/spdlog
	url = https://github.com/gabime/spdlog
[submodule "dep/signals"]
	path = dep/signals
	url = https://github.com/miguelmartin75/Wink-Signals
[submodule "dep/asmtk"]
	path = dep/asmtk
	url = https://github.com/asmjit/asmtk