[submodule "dep/catch"]
	path = dep/catch
	url = https://github.com/philsquared/Catch.git
[submodule "dep/pegtl"]
	path = dep/pegtl
	url = https://github.com/ColinH/PEGTL
[submodule "dep/cxxopts"]
	path = dep/cxxopts
	url = https://github.com/jarro2783/cxxopts
