[submodule "dep/pegtl"]
	path = dep/pegtl
	url = https://github.com/ColinH/PEGTL
[submodule "dep/cxxopts"]
	path = dep/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "dep/better-enums"]
	path = dep/better-enums
	url = https://github.com/aantron/better-enums.git